
body {
	 margin: 0;
     padding: 0;
     height: 1350px;
     background-image: url(abyss-fade.jpeg);
 }
#navbar {
  overflow: hidden;/*поведение при перенаполнении*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  background-color: #242B38;
}
.navelement { /*как ограничить область в которой изменяется курсор при наведении на шапку (уменшить область) navbar li*/
 display: inline; 
 float: left;
 margin-left: 20px;
 font-family:'Oxygen',sans-serif;
 }

#navbar a {
  color: #1D8FCD;
  padding: 30px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

  #logo {
 	color: #1D59CD;
  font-weight: 3em;
 }

  #searchfield {
    left: 10px;
  }

 #Name {
  color: #1D59CD;
  letter-spacing: 5px;
  font-size: 3em;
  font-family:'Lobster',cursive;
  text-align: center;
  padding-top: 4%;
 }

 #upperdiv {
    padding: 50px 1%;
    margin-top: 4%;
    background-image: url(div-fade.png);
    width: 100%;
 }

 #person { 
  margin-left: 20px;
  border: 3px solid #0B0B61;/**/
  width: 300px;
  height: 300px;
  background-color: blue;
 }

#search {
    float: right;
    margin-right: 50px;
    margin-top: 13px;
}
